section[id="servicos"] {
    .field{
        align-items: center;
        justify-content: space-between;
        flex-direction: row!important;
        flex-wrap: wrap;
    }

    .card{
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 16px;
        margin-bottom: 18px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        transition: all 0.3s ease;
    }
}

.center
{
    text-align: center;
}